node_modules/
.env
myenv/
db_data/
*.DS_Store
backend/src/Include
backend/src/Lib
backend/src/Scripts
backend/src/pyvenv.cfg


backend/dist
backend/node_modules
backend/.env
backend/src/app.module.js
!backend/src/jobs/
!backend/src/jobs/**

deploy.bat

AWSCLIV2.pkg
