name: Deploy to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: production
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Frontend Deps
        run: |
          cd background-check-ui
          npm install

      - name: Build Frontend
        run: |
          cd background-check-ui
          npm run build

      - name: Install Backend Deps
        run: |
          cd backend
          npm install

      - name: Build Backend
        run: |
          cd backend
          npm run build

      - name: Bundle Frontend + Backend
        run: |
          rm -rf bundle
          mkdir -p bundle/background-check-ui
          mkdir -p bundle/backend
          cp -r frontend/dist/* bundle/background-check-ui/
          cp -r backend/dist/* bundle/backend/
          
      
      - name: Copy files to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH }}
          source: "./"
          target: "/mnt/backend/Yardstick-capstone-project"
          overwrite: true  
          strip_components: 0
          
      - name: Reload systemd and restart service
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH }}
          script: |
            sudo systemctl daemon-reload
            sudo systemctl restart backend
